.site_title i {
    border: none;
    padding: 0;
    border-radius: 0;
}

.menu_section h3 {
    padding-left: 15px;
}

.nav_menu {
    margin-bottom: 0;
}

.page-title {
    padding: 0;
    height: auto;
}

.page-title h1.title {
    font-size: 24px;
}

.page-title .breadcrumb {
    padding: 0 0 10px 0;
    margin: 0;
}

.page-title .breadcrumb > li:first-child:before {
    padding: 0 5px;
    color: #ccc;
    content: "↳\00a0";
}

.page-title .title_right .menu-group-area {
    margin: 10px 0;
}

.nav-md .container.body .right_col {
    padding: 10px 15px;
}

.form-inline-row, .form-delete {
    display: inline;
}

.nowrap {
    white-space: nowrap;
}

.form-group.required .control-label:after {
    content: "*";
    color: red;
}

.img-select2 {
    height: 30px;
}

.panel_toolbox > li {
    float: right;
}

.input-group {
    margin-bottom: 0;
}

.number-popover {
    margin: 0;
    padding-left: 25px;
}

.pointer {
    cursor: pointer;
}

.clearfix:after, .clearfix:before {
    display: table;
    content: " ";
}

.w-xs {
    min-width: 80px;
}

.w-sm {
    min-width: 95px;
}

.w-md {
    min-width: 110px;
}

.w-lg {
    min-width: 140px;
}

